/*//////////////////////////////////////////////////////////////////////////////////////
// 
// A L T I S Y S
// 
// File="main.custom.css"
// 
// Creation date: 28/06/2017 14:23:00
// 
// Author: Sébastien Drouet
// 
// Description : add elements into this file to override main.css file (copy and paste, then modify values).
//
// © Altisys2017. All right reserved
// 
//////////////////////////////////////////////////////////////////////////////////////*/

/* [REINIT CLASSES] */
.full-container {
    width: 100%;
}

.left-sidebar {
    /* Duplicata of .sidebar-agenda without fixed width*/
    position: relative;
    margin: 0 0;
    padding: 35px 20px 0;
    background: rgba(255, 255, 255, .5);
    float:left;
}

#main.main-view {
    width: auto;
}

.page-content {
    /* custom content class */
}

/* [SIDEBAR] */
.raise-form .field-row.full-field {
    padding: 0px;
}
.raise-form .check-row.full-checkbox {
    padding: 0px;
}
.field input[type="search"].full-searchbar {
    width: 100%;
}

/* [HEADER] */
@media (max-width: 992px) {
    .head-left ul li.home.reduce-md-down {
        margin-right: 12px;
    }
    .logo {
        margin-right:10px;
    }
}

.head-right .icon-set li:first-child {
    margin-left: 0px;
} 
.head-right .icon-set li:last-child  {
    margin-right:0px;
}
.head-right {
    width:auto;
}