/*//////////////////////////////////////////////////////////////////////////////////////
// 
// A L T I S Y S
// 
// File="main.custom.css"
// 
// Creation date: 28/06/2017 14:23:00
// 
// Author: Sébastien Drouet
// 
// Description : add elements into this file to override main.css file (copy and paste, then modify values).
//
// © Altisys2017. All right reserved
// 
//////////////////////////////////////////////////////////////////////////////////////*/

/* * * * * * * * *
	HEADER
* * * * * * * * */
.slide-bar-custom{
	position: initial;
}
#wrapper.wrapper-client-custom{
	padding: 248px 0 20px
}
#wrapper.wrapper-client-custom.active {
    padding: 208px 0 20px;
}
.head-client-custom{
	position: fixed;
	top: 120px;
	width: 100%;
	z-index: 10
}