            <!-- contain main informative part of the site -->
<main id="main">
    <section >
        <div style="padding-top: 20px;">
            <!-- content of the page -->
            <div>
                <!-- info content -->
                <div class="admin-box">
                    <a href="#/report" class="ico-link"><span class="ico-parametrage-media">&nbsp;</span></a>
                    <div class="textbox">
                        <strong class="title">Paramétrage courrier</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
