<div class="col">
    <!-- main block -->
    <section class="main-block active">
        <!-- head of block -->
        <header class="head">
            <a href="#" class="opener">&nbsp;</a>
            <h2>Mes alertes</h2>
            <span class="bubble">14</span>
            <a href="#" class="btn-burger"><span>&nbsp;</span></a>
        </header>
        <!-- slide of block -->
        <div class="slide">
            <!-- circle list -->
            <ul class="circle-list">
                <li>
                    <strong class="title"><a href="#">Relances</a></strong>
                    <div class="circle big yellow">553</div>
                </li>
                <li>
                    <strong class="title"><a href="#">Contentieux</a></strong>
                    <div class="circle medium orange">72</div>
                </li>
                <li>
                    <strong class="title"><a href="#">Risque</a></strong>
                    <div class="circle tiny red">26</div>
                </li>
            </ul>
            <!-- footer of block -->
            <footer class="foot">
                <a href="#" class="link">Voir toutes...</a>
            </footer>
        </div>
    </section>
</div>