<!-- form search -->
<form class="form-search col-md-11" ng-controller="clientFilterController" ng-class="{'no-margin-padding-on-scroll': boolClientFilter, 'btn-clicked': btnClicked}">
        <div class="field-row" ng-class="{'no-margin-padding-on-scroll': boolClientFilter}">
            <input type="search" ng-model="Filter.NPiece" placeholder="N° de la facture">
        </div>
        <div class="field-row" ng-show="!boolClientFilter">
            <span class="fake-select">
                <select id="Qualification" ng-model="Filter.SelectedCritere" ng-options="value for (key , value) in Filter.Criteres"></select>
            </span>
        </div>
        <div class="field-row" ng-show="!boolClientFilter">
            <label for="rel-1">De</label>
            <input type="search" ng-model="Filter.De" placeholder="Montant mini">
        </div>
        <div class="field-row" ng-show="!boolClientFilter">
            <label for="rel-2">A</label>
            <input type="search" ng-model="Filter.A" placeholder="Montant maxi">
        </div>
        <div class="field-row" ng-class="{'button-on-scroll': boolClientFilter && !btnClicked}">
            <button type="button" ng-click="ClientFilterClick()" class="btn-submit"></button>
        </div>
        <!--<div>
            <a class="btn-burger" ui-sref="courrier({societe:scopsociete,numcomptable:scopnumcomptable})"><span>&nbsp;</span></a>
        </div>-->
        <div ng-show="!boolClientFilter">
            <a class="btn-burger" ui-sref="courrierV2({societe:scopsociete,numcomptable:scopnumcomptable})"><span>&nbsp;</span></a>
        </div>

        <a ng-show="boolClientFilter" ng-click="$parent.$parent.$parent.boolClientFilter = false; $parent.$parent.$parent.btnClicked=true">Voir plus de critères</a>
        <a class="less-fields" ng-show="btnClicked" ng-click="$parent.$parent.$parent.boolClientFilter = true; $parent.$parent.$parent.btnClicked=false">Voir moins de critères</a>
</form>

