
    <!-- main container of all the page elements -->
    <div id="wrapper-simple" class="agenda container full-container" >
        <header-bar></header-bar>
            <div ui-view="agendaTopBarView" class="topbar"></div>
            <!-- contain main informative part of the site -->
            <main id="main" class="main-view">
                <!-- sidebar of the page -->
                <aside class="left-sidebar col-xs-12 col-sm-2 col-md-3 col-lg-3">
                    <div ui-view="agendaAsideRaiseBox"></div>
                    <div ui-view="agendaAsideRaiseForm"></div>
                </aside>
                <!-- content of the page -->
                <div class="page-content col-xs-12 col-sm-10 col-md-9 col-lg-9">
                    <!-- info content -->
                    <section class="info-content main-block active">
                        <div ui-view="agendaDataGridView"></div>
                    </section>
                </div>
            </main>

    </div>
